In [2]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("C:/Users/Rocio/Desktop/ROCÍO/Todo_rocío/Curso_Data_Analyst/Codes/temario/temario/Informe3-Upgrade/Personality.csv", on_bad_lines='skip') ##ignora las líneas problemáticas

In [4]:
df.head()

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,4.0,No,4.0,6.0,No,13.0,5.0,Extrovert
1,9.0,Yes,0.0,0.0,Yes,0.0,3.0,Introvert
2,9.0,Yes,1.0,2.0,Yes,5.0,2.0,Introvert
3,0.0,No,6.0,7.0,No,14.0,8.0,Extrovert
4,3.0,No,9.0,4.0,No,8.0,5.0,Extrovert

In [5]:
df.tail()

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
2895,3.0,No,7.0,6.0,No,6.0,6.0,Extrovert
2896,3.0,No,8.0,3.0,No,14.0,9.0,Extrovert
2897,4.0,Yes,1.0,1.0,Yes,4.0,0.0,Introvert
2898,11.0,Yes,1.0,NaN,Yes,2.0,0.0,Introvert
2899,3.0,No,6.0,6.0,No,6.0,9.0,Extrovert

In [6]:
print("Number of rows:", df.shape[0])
print("Number of columns:", df.shape[1])

Number of rows: 2900
Number of columns: 8

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2900 entries, 0 to 2899
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Time_spent_Alone           2837 non-null   float64
 1   Stage_fear                 2827 non-null   object
 2   Social_event_attendance    2838 non-null   float64
 3   Going_outside              2834 non-null   float64
 4   Drained_after_socializing  2848 non-null   object
 5   Friends_circle_size        2823 non-null   float64
 6   Post_frequency             2835 non-null   float64
 7   Personality                2900 non-null   object
dtypes: float64(5), object(3)
memory usage: 181.4+ KB

In [8]:
df.dtypes

Time_spent_Alone             float64
Stage_fear                    object
Social_event_attendance      float64
Going_outside                float64
Drained_after_socializing     object
Friends_circle_size          float64
Post_frequency               float64
Personality                   object
dtype: object

In [9]:
df.duplicated().sum()

np.int64(388)

In [10]:
df = df.drop_duplicates()
print("Filas después de eliminar duplicados:", df.shape[0])

Filas después de eliminar duplicados: 2512

In [11]:
df.isna().any()

Time_spent_Alone              True
Stage_fear                    True
Social_event_attendance       True
Going_outside                 True
Drained_after_socializing     True
Friends_circle_size           True
Post_frequency                True
Personality                  False
dtype: bool

In [12]:
df.isna().sum()

Time_spent_Alone             61
Stage_fear                   73
Social_event_attendance      61
Going_outside                65
Drained_after_socializing    51
Friends_circle_size          75
Post_frequency               63
Personality                   0
dtype: int64

In [13]:
df.columns

Index(['Time_spent_Alone', 'Stage_fear', 'Social_event_attendance',
       'Going_outside', 'Drained_after_socializing', 'Friends_circle_size',
       'Post_frequency', 'Personality'],
      dtype='object')

In [14]:
df.describe()

,Time_spent_Alone,Social_event_attendance,Going_outside,Friends_circle_size,Post_frequency
count,2451.000000,2451.000000,2447.000000,2437.000000,2449.000000
mean,4.209302,4.219094,3.203923,6.607304,3.831360
std,3.446242,2.909053,2.245668,4.324444,2.949698
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,2.000000,1.000000,3.000000,1.000000
50%,3.000000,4.000000,3.000000,6.000000,3.000000
75%,7.000000,7.000000,5.000000,10.000000,6.000000
max,11.000000,10.000000,7.000000,15.000000,10.000000

In [16]:
for i in df.columns:
    print("Valores únicos en", i, ":", df[i].nunique())

Valores únicos en Time_spent_Alone : 12
Valores únicos en Stage_fear : 2
Valores únicos en Social_event_attendance : 11
Valores únicos en Going_outside : 8
Valores únicos en Drained_after_socializing : 2
Valores únicos en Friends_circle_size : 16
Valores únicos en Post_frequency : 11
Valores únicos en Personality : 2

In [17]:
const_cols = [col for col in df.columns if df[col].nunique() == 1]
print("Columnas constantes:", const_cols)

Columnas constantes: []

In [18]:
null_cols = [col for col in df.columns if df[col].isna().all()]
print("Columnas completamente nulas:", null_cols)

Columnas completamente nulas: []

In [19]:
# Identificar columnas no binarias
no_binarias = [col for col in df.columns if df[col].nunique() > 2]

# Rellenar valores nulos en columnas no binarias con la media (si son numéricas)
for col in no_binarias:
    if pd.api.types.is_numeric_dtype(df[col]):
        df[col] = df[col].fillna(df[col].mean())
    else:
        df[col] = df[col].fillna(df[col].mode()[0])  # Si es categórica, usa la moda

print("Valores nulos restantes por columna:")
print(df.isna().sum())

Valores nulos restantes por columna:
Time_spent_Alone              0
Stage_fear                   73
Social_event_attendance       0
Going_outside                 0
Drained_after_socializing    51
Friends_circle_size           0
Post_frequency                0
Personality                   0
dtype: int64

In [27]:
print(df['Stage_fear'].unique())
print(df['Drained_after_socializing'].unique())

['No' 'Yes' nan]
['No' 'Yes' nan]

In [28]:
# Rellenar nulos en columnas binarias con la moda
binarias = [col for col in df.columns if df[col].nunique() == 2]
for col in binarias:
    df[col] = df[col].fillna(df[col].mode()[0])

print("Valores nulos restantes por columna:")
print(df.isna().sum())

Valores nulos restantes por columna:
Time_spent_Alone             0
Stage_fear                   0
Social_event_attendance      0
Going_outside                0
Drained_after_socializing    0
Friends_circle_size          0
Post_frequency               0
Personality                  0
dtype: int64

In [30]:
low_var_cols = [col for col in df.columns if df[col].nunique() < 5]
print("Columnas con baja variabilidad:", low_var_cols)

Columnas con baja variabilidad: ['Stage_fear', 'Drained_after_socializing', 'Personality']

In [32]:
df.isnull().any() #las True son binarias (Personality es binaria sin nulos), por lo que son necesarias (Sí/No)

Time_spent_Alone             False
Stage_fear                   False
Social_event_attendance      False
Going_outside                False
Drained_after_socializing    False
Friends_circle_size          False
Post_frequency               False
Personality                  False
dtype: bool

In [34]:
df.isnull().any() #las True son binarias (Personality es binaria sin nulos), por lo que son necesarias (Sí/No)

Time_spent_Alone             False
Stage_fear                   False
Social_event_attendance      False
Going_outside                False
Drained_after_socializing    False
Friends_circle_size          False
Post_frequency               False
Personality                  False
dtype: bool

In [35]:
df.describe()

,Time_spent_Alone,Social_event_attendance,Going_outside,Friends_circle_size,Post_frequency
count,2512.000000,2512.000000,2512.000000,2512.000000,2512.000000
mean,4.209302,4.219094,3.203923,6.607304,3.831360
std,3.404125,2.873501,2.216412,4.259372,2.912459
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,2.000000,1.000000,3.000000,1.000000
50%,3.000000,4.000000,3.000000,6.000000,3.000000
75%,7.000000,7.000000,5.000000,10.000000,6.000000
max,11.000000,10.000000,7.000000,15.000000,10.000000

In [36]:
df.shape

(2512, 8)